@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-100;
  }
}

@layer utilities {
  .padding-xs {
    @apply py-1 px-2;
  }
  .padding-sm {
    @apply px-4 py-1;
  }
  .padding-md {
    @apply px-6 py-2;
  }
  .is-active {
    @apply bg-slate-800 text-white;
  }
}

@layer components {
  .btn {
    @apply capitalize font-medium border-2 rounded-sm tracking-wider transition-all duration-500;
  }
  .btn-sm {
    @apply px-3 md:px-4 py-1;
  }
  .btn-md {
    @apply px-6 py-2;
  }
  .btn-white {
    @apply text-white border-white hover:bg-white hover:text-black;
  }
  .hover--btn {
    position: relative;
  }
  .hover--btn::before {
    content: " ";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }
  .hover--btn:hover::before {
    transform: scale(1.2);
  }
  .article-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    place-items: center;
  }
  textarea {
    resize: none;
    outline: none;
  }
  .navlink {
    -webkit-transform-style: preserve-3d;
  }
  .nav__overlay {
    @apply cursor-pointer absolute top-0 left-0 h-screen w-full bg-birch-500 bg-opacity-70;
  }
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
.editor-menu-container button {
  @apply xl:text-lg px-2 capitalize border border-slate-600 rounded-md;
}
