@tailwind base;
@tailwind components;
@tailwind utilities;

.cta {
  @apply inline-block capitalize border-2 rounded-xl p-3 transform hover:-translate-y-0.5 focus:-translate-y-0.5;
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
:root { */
/* --white:;
  --cyan-100:;
  --cyan-200:;
  --cyan-300:;
  --cyan-400:;
  --cyan-500:;
  --cyan-600:;
  --gray-100:;
  --gray-200:;
  --gray-300:;
  --gray-400:;
  --gray-500:;
  --gray-600:;
  --sky-blue-100:;
  --sky-blue-200:;
  --sky-blue-300:;
  --sky-blue-400:;
  --sky-blue-500:;
  --sky-blue-600:; */
/* --white: #fff;
} */
/* a {
  color: inherit;
  text-decoration: none;
}

{
  box-sizing: border-box;
} */
